<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Angel\Raffle\Api\PurchaseManagementInterface" type="Angel\Raffle\Model\PurchaseManagement"/>
	<preference for="Angel\Raffle\Api\TrashManagementInterface" type="Angel\Raffle\Model\TrashManagement"/>
	<preference for="Angel\Raffle\Api\PrizeRepositoryInterface" type="Angel\Raffle\Model\PrizeRepository"/>
	<preference for="Angel\Raffle\Api\Data\PrizeInterface" type="Angel\Raffle\Model\Data\Prize"/>
	<preference for="Angel\Raffle\Api\Data\PrizeSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="angel_raffle_prize_listing_data_source" xsi:type="string">Angel\Raffle\Model\ResourceModel\Prize\Grid\Collection</item>
				<item name="prize_listing_data_source" xsi:type="string">Angel\Raffle\Model\ResourceModel\Prize\Grid\Collection</item>
				<item name="angel_raffle_ticket_listing_data_source" xsi:type="string">Angel\Raffle\Model\ResourceModel\Ticket\Grid\Collection</item>
				<item name="ticket_listing_data_source" xsi:type="string">Angel\Raffle\Model\ResourceModel\Ticket\Grid\Collection</item>
				<!--<item name="raffle_listing_data_source" xsi:type="string">Angel\Raffle\Model\ResourceModel\Raffle\Grid\Collection</item>-->
			</argument>
		</arguments>
	</type>
	<preference for="Angel\Raffle\Api\NumberRepositoryInterface" type="Angel\Raffle\Model\NumberRepository"/>
	<preference for="Angel\Raffle\Api\Data\NumberInterface" type="Angel\Raffle\Model\Data\Number"/>
	<preference for="Angel\Raffle\Api\Data\NumberSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<preference for="Angel\Raffle\Api\TicketRepositoryInterface" type="Angel\Raffle\Model\TicketRepository"/>
	<preference for="Angel\Raffle\Api\Data\TicketInterface" type="Angel\Raffle\Model\Data\Ticket"/>
	<preference for="Angel\Raffle\Api\Data\TicketSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
</config>
